<script id="sistema-rol-template" type="text/x-handlebars-template">
  <div class="modal-dialog modal-xlg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{titulo_modal}}</h4>
        <button type="button" class="close" data-dimdiss="modal" aria-label="Close" id="closeModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5" id="formTableRol">
            <h6 class="subtitulo" style="margin-bottom:15px">Rols del Sistema</h6>
            <label class="texto-der" id="mensajeRptaRol"></label>
            <table class="table table-striped" style="" id="tablaRol">
              <thead>
                <tr>
                  <th style="width: 10px; display:none;">id</th>
                  <th style="width: 200px;">Nombre</th>
                  <th style="width: 80px; padding-left: 17px !important;">Botones</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="1000" style="text-align:right">
                    <button class="btn btn-default agregar-fila"> <i class="fa fa-plus" style="margin-right:5px"></i>Agregar Registro</button>
                    <button class="btn btn-default guardar-tabla"> <i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="col-md-6 oculto" id="formTableRolPermiso">
              <h6 class="subtitulo" style="margin-bottom:15px">Permisos del Rol</h6>
              <label class="texto-der" id="mensajeRptaRolPermiso"></label>
              <table class="table table-striped" style="" id="tablaRolPermiso">
                <thead>
                  <tr>
                    <th style="width: 10px; display:none;">id</th>
                    <th style="width: 150px;">Nombre</th>
                    <th style="width: 150px;">Llave</th>
                    <th style="width: 60px;">Existe</th>
                    <th style="display:none;">Botones</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td colspan="1000" style="text-align:right">
                      <button class="btn btn-default guardar-tabla"> <i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</script>