<script id="sistema-menu-template" type="text/x-handlebars-template">
  <div class="modal-dialog modal-xlg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{titulo_modal}}</h4>
        <button type="button" class="close" data-dimdiss="modal" aria-label="Close" id="closeModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4" id="formTableModulo">
            <h6 class="subtitulo" style="margin-bottom:15px">Modulos del Sistema</h6>
            <label class="texto-der" id="mensajeRptaModulo"></label>
            <table class="table table-striped" style="" id="tablaModulo">
              <thead>
                <tr>
                  <th style="width: 10px; display:none;">id</th>
                  <th style="width: 80px;">Nombre</th>
                  <th style="width: 80px;">Ícono</th>
                  <th style="width: 80px;">URL</th>
                  <th style="width: 80px; padding-left: 17px !important;">Botones</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="1000" style="text-align:right">
                    <button class="btn btn-default agregar-fila"> <i class="fa fa-plus" style="margin-right:5px"></i>Agregar Registro</button>
                    <button class="btn btn-default guardar-tabla"> <i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="col-md-4 oculto" id="formTableSubtitulo">
            <h6 class="subtitulo" style="margin-bottom:15px">Subtitulos del Módulo</h6>
            <label class="texto-der" id="mensajeRptaSubtitulo"></label>
            <table class="table table-striped" style="" id="tablaSubtitulo">
              <thead>
                <tr>
                  <th style="width: 10px; display:none;">id</th>
                  <th style="width: 120px;">Nombre</th>
                  <th style="width: 80px; padding-left: 17px !important;">Botones</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="1000" style="text-align:right">
                    <button class="btn btn-default agregar-fila"> <i class="fa fa-plus" style="margin-right:5px"></i>Agregar Registro</button>
                    <button class="btn btn-default guardar-tabla"> <i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="col-md-4 oculto" id="formTableItem">
            <h6 class="subtitulo" style="margin-bottom:15px">Items del Subtítulo</h6>
            <label class="texto-der" id="mensajeRptaItem"></label>
            <table class="table table-striped" style="" id="tablaItem">
              <thead>
                <tr>
                  <th style="width: 10px; display:none;">id</th>
                  <th style="width: 120px;">Nombre</th>
                  <th style="width: 120px;">URL</th>
                  <th style="width: 80px;">Botones</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="1000" style="text-align:right">
                    <button class="btn btn-default agregar-fila"> <i class="fa fa-plus" style="margin-right:5px"></i>Agregar Registro</button>
                    <button class="btn btn-default guardar-tabla"> <i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
